        
        
        
    </body>
    <div class="ui divider" style="margin-top: 40px"></div>
    <div style="margin-bottom: 50px; text-align: center">
        <div style="display: inline; margin-right: 30px">
            <a href="/" style="color: grey">Here In Pittsburgh</a>
        </div>
        <div style="display: inline">
            <a href="/contact_us" style="color: grey">Contact Us</a>
        </div>
    </div>
</html>