<% include ../partials/header %>


<div class="ui container">
    
    <div style="padding-top: 10px; min-height: 75%">
    
        <!--user items-->
        <div style="margin-top: 50px">
            <h3 class="ui horizontal divider header">
              <i class="user icon" style="margin-bottom: 10px"></i>
              <%= user.personal_name %>'s Posts
            </h3>
            <% include ../items/items %>
        </div>
    
    </div>
    
</div>


<% include ../partials/footer %>